.goog-te-banner-frame,
.goog-te-banner-frame.skiptranslate,
.goog-te-banner,
.skiptranslate {
  display: none !important;
  height: 0 !important;
}
body { top: 0 !important; }

img.goog-te-gadget-icon {
  display: none !important;
}

/* you can keep .goog-te-combo hidden if you want */
.goog-te-combo {
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
  position: absolute;
}
